@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--main-text);
  color: var(--main-color);
  background: url(../img/bg.png) no-repeat 0% 10%;
  background-size: 100%;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  max-width: 100%;
}

@media (max-width: 468px) {
  body {
    background: url(../img/bg.png) no-repeat 0% 6%;
    background-size: 800px;
  }
}
:root {
  --main-color: #252525;
  --grey-color: #c6c6c6;
  --white-color: #f2f2f2f2;
  --main-text: "OpenSans-Regular", sans-serif;
  --header-text: "Unbounded-Bold", sans-serif;
  --bold-text: "OpenSans-Bold", sans-serif;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Unbounded-Bold";
  src: url(../fonts/Unbounded-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Unbounded-Regular";
  src: url(../fonts/Unbounded-Regular.ttf);
  font-display: swap;
}
.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
}

.main-button {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(100.49deg, #D8FFB9 -7.18%, rgba(170, 255, 103, 0.9) 91.75%);
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.main-button:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #000;
  top: -100%;
  left: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  z-index: -1;
  opacity: 0;
}
.main-button:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #000;
  bottom: -100%;
  right: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  z-index: -1;
  opacity: 0;
}

.main-button:hover {
  color: #fff !important;
}
.main-button:hover:before {
  top: 0;
  opacity: 1;
}
.main-button:hover:after {
  bottom: 0;
  opacity: 1;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}
.header .header__logo {
  font-family: var(--header-text);
  color: var(--main-color);
  font-size: 32px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__logo .circle {
  width: 50px;
  height: 50px;
  background: linear-gradient(100.49deg, #D8FFB9 -7.18%, rgba(170, 255, 103, 0.9) 91.75%);
  border-radius: 50%;
  margin-right: 10px;
}
.header .header__city {
  position: relative;
}
.header .header__city-content {
  font-size: 18px;
  padding: 7px 15px 7px 40px;
  background: linear-gradient(100.49deg, #D8FFB9 -7.18%, rgba(170, 255, 103, 0.9) 91.75%);
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}
.header .header__city-content:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  left: 15px;
  background: url(../img/map.svg) no-repeat center;
  background-size: cover;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .header__city-checked {
  width: 300px;
  height: 100px;
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  right: 0;
  bottom: -120px;
  border: 1px solid rgba(170, 255, 103, 0.9);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header .header__city-checked span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}
.header .header__city-checked input {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid var(--grey-color);
}
.header .header__city-checked button {
  width: 80px;
  height: 40px;
  font-size: 14px;
}
.header .header__city-checked .checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header__city-checked:before {
  content: "";
  position: absolute;
  right: 30px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(170, 255, 103, 0.9);
}

.checked-active {
  -webkit-transform: scaleY(1) !important;
          transform: scaleY(1) !important;
}

@media (max-width: 468px) {
  .header .header__logo {
    font-size: 24px;
  }
  .header .header__logo .circle {
    width: 30px;
    height: 30px;
    background: linear-gradient(100.49deg, #D8FFB9 -7.18%, rgba(170, 255, 103, 0.9) 91.75%);
    border-radius: 50%;
    margin-right: 10px;
  }
  .header .header__city-content {
    font-size: 1em;
  }
}
.offer__wrapper {
  background: linear-gradient(100.49deg, #D8FFB9 -7.18%, rgba(170, 255, 103, 0.9) 91.75%);
  padding: 50px;
  border-radius: 30px;
}
.offer__wrapper h1 {
  font-family: var(--header-text);
  font-size: 48px;
  max-width: 70%;
  font-weight: normal;
}
.offer__wrapper h2 {
  font-family: var(--bold-text);
  margin-top: 30px;
  font-size: 36px;
  max-width: 70%;
  font-weight: normal;
}
.offer__wrapper .timer {
  font-family: var(--header-text);
  font-size: 68px;
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 360px;
  padding: 30px 30px 50px 30px;
  border-radius: 30px;
  background: #ffffff;
}
.offer__wrapper .timer::before {
  content: attr(data-text);
  font-family: var(--bold-text);
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.offer__wrapper .timer-min,
.offer__wrapper .timer-sec {
  min-width: 130px;
  text-align: center;
}

@media (max-width: 1100px) {
  .offer__wrapper h1 {
    font-size: 40px;
    max-width: 100%;
  }
  .offer__wrapper h2 {
    font-size: 32px;
    max-width: 100%;
  }
}
@media (max-width: 468px) {
  .offer__wrapper {
    padding: 30px;
  }
  .offer__wrapper h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .offer__wrapper h1 .today {
    white-space: nowrap;
  }
  .offer__wrapper h2 {
    font-size: 18px;
  }
  .offer__wrapper .timer {
    font-size: 40px;
    margin-top: 30px;
    position: relative;
    max-width: 100%;
    padding: 30px 30px 50px 30px;
  }
  .offer__wrapper .timer-min,
.offer__wrapper .timer-sec {
    min-width: 80px;
  }
  .offer__wrapper .timer::before {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
}
.company {
  padding: 100px 0px;
}
.company__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.company__item {
  padding: 30px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid var(--grey-color);
}
.company__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.company__info-logo {
  width: 60px;
  height: 60px;
  background: var(--grey-color);
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company__info-logo img {
  max-width: 60px;
  border-radius: 50%;
}
.company__info-name {
  font-family: var(--bold-text);
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
}
.company__condition ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.company__button {
  padding-top: 40px;
}
.company__button .main-button {
  height: 50px;
  width: 100%;
  font-size: 18px;
  color: #000;
}
.company .premium {
  position: relative;
  border: 2px solid rgba(170, 255, 103, 0.9);
}
.company .premium:before {
  content: "Топ";
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 12px;
  width: 60px;
  height: 30px;
  background: rgba(170, 255, 103, 0.9);
  text-align: center;
  border-radius: 20px 0px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1100px) {
  .company {
    padding: 80px 0px;
  }
  .company__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  .company__item {
    padding: 20px;
  }
  .company__info {
    margin-bottom: 40px;
  }
  .company__info-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .company__info-logo img {
    max-width: 50px;
    border-radius: 50%;
  }
  .company__info-name {
    font-size: 1em;
  }
  .company__condition ul li {
    font-size: 14px;
  }
}
@media (max-width: 468px) {
  .company__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .company__item {
    padding: 50px 30px;
    margin: 0px auto;
  }
}
.about {
  padding: 50px 0px;
  background: #f4f4f4;
}
.about__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 50px;
}
.about__item span.name {
  font-size: 14px;
  font-family: var(--bold-text);
  font-weight: normal;
  display: block;
  margin-bottom: 10px;
}
.about__item span.text {
  font-size: 14px;
}

@media (max-width: 1100px) {
  .about__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 20px;
  }
}
@media (max-width: 468px) {
  .about__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px 10px;
  }
}
.condition {
  padding: 50px 0px 100px 0px;
  background: #f4f4f4;
}
.condition span.name {
  color: var(--grey-text);
  font-family: var(--bold-text);
  font-weight: normal;
  font-size: 1em;
  display: block;
  margin-bottom: 20px;
}
.condition p {
  font-size: 14px;
  margin-bottom: 10px;
  color: var(--grey-text);
}

.footer {
  background: #000;
  padding: 30px;
}
.footer * {
  color: #fff;
  font-size: 14px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 468px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__wrapper a {
    display: block;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */